<!-- views/profile-admin.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="main-wrap">
            <div class="main">
                <div class="center-main">
                    <div class="sidebar col-sm-3">
                        <h2 class='sidebar-title'>Welcome!</h2>
                        <div class='inner-sidebar'>
                            <div class="form-group">
                                <p for="selectedHost">Availabilities and Bookings For <%= serverData.host.company.name %></p>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-header">
                        <span id="changeMonthNext" class="changeMonth" data-direction="prev"><i class="fa fa-chevron-left"></i></span>
                        <h2 class="monthName" id="monthName"><%- calendarHeading %></h2>
                        <span id="changeMonthPrev" class="changeMonth" data-direction="next"><i class="fa fa-chevron-right"></i></span>
                    </div>
                    <div data-calendar-view="5" class="calendarWrap">
                        <%- calendar %>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj1ggklr6rs0T1IC4OORk3jQAjPwQCYLk"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.API.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Calendar.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.AdminHostCalendar.min.js"></script>
    <!-- SCRIPTS -->
    <script type="text/javascript">
        var serverData = <%- JSONdata %>;
    </script>
</html>