<!-- views/admin-host-mgmt.ejs -->
<%- include partials/header.ejs %>
    <body class="admin host-mgmt">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <h1><span class="fa fa-users"></span> Manage Hosts</h1>

                <!-- SIGNUP FORM -->
                <div class="host-table" id="admin-host-table">
                    <hr/>
                </div>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/underscore/underscore-min.js"</script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj1ggklr6rs0T1IC4OORk3jQAjPwQCYLk"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Calendar.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.API.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.AdminHostMgmt.min.js"></script>
    <!-- TEMPLATE DATA -->
    <script type="text/javascript">
        var query = <%- query ? "\"" + query + "\"" : query %>;
    </script>
</html>
