<!-- views/new-host.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Signup</h1>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- SIGNUP FORM -->
                <div class="ajax-form" id="newHostWrap">
                    <form id="newHostForm" class="signupForm">

                        <div class="form-group">
                            <input placeholder="Organizational Contact Email Address" type="email" class="form-control" id="cEmail" name="cEmail" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Password" type="password" class="form-control" id="cPassword" name="cPassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input placeholder="Confirm Password" type="password" class="form-control" id="cCPassword" name="cCPassword" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Company Name" type="text" class="form-control" id="cName" name="cName" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Primary Phone" type="tel" class="form-control" id="cPhone" name="cPhone" autocomplete="off">
                        </div>

                        <div class="form-group">
                            <input placeholder="Street Address" type="text" class="form-control" id="cAddress1" name="cAddress1" autocomplete="off">
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <input placeholder="City" type="text" class="form-control" id="cCity" name="cCity" autocomplete="off">
                            </div>
                            <div class="col-sm-4">
                                <%- include partials/us-states-select.ejs %>
                            </div>
                            <div class="col-sm-4">
                                <input placeholder="Zip Code" type="text" class="form-control" id="cZip" name="cZip" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <select class="form-control" id="cSize" name="cSize">
                                    <option value="" selected="selected">Company Size</option>
                                    <option value="1">1-10</option>
                                    <option value="2">11-50</option>
                                    <option value="3">51-100</option>
                                    <option value="4">101-200</option>
                                    <option value="5">201-500</option>
                                    <option value="6">501-1000</option>
                                    <option value="7">1001-10,000</option>
                                    <option value="8">10,001+</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input placeholder="Vendor Fee" type="text" class="form-control" id="cFee" name="cFee" autocomplete="off">
                            </div>
                            <div class="col-sm-4">
                                <input placeholder="Max Visits Per Year" type="text" class="form-control" id="cMax" name="cMax" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <textarea placeholder="Restrictions" class="form-control" id="cRestrictions" name="cRestrictions" autocomplete="off">Rules and restrictions</textarea>
                            </div>
                        </div>
                        <button id="signupButton" type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
                    </form>
                    <hr/>
                </div>
            </div>
        </div>
        <!-- VENDOR -->
        <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>

        <!-- MODELS -->
        <script type="text/javascript" src="/js/model/frModel.API.min.js"></script>

        <!-- CONTROLLERS -->

        <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
        <script type="text/javascript" src="/js/controller/frController.AdminNewHost.min.js"></script>
    </body>
</html>
