<!-- views/signup.ejs -->
<%- include partials/header.ejs %>
    <body class="user-signup">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Apply as a Vendor</h1>

                <!-- SIGNUP FORM -->
                <div style="padding-top: 30px;" class="ajax-form" id="signupWrap">
                    <%- include partials/signup-1.ejs %>
                </div>
                <hr>

                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>

    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.API.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.SignUp.min.js"></script>

    </body>
</html>
