<!-- views/login.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>Account Pending</h1>
                <h4>Thank you for applying to Vendor Senders. We will contact you soon! </h4>
                <p>Options for providing credit card information:</p>
                <ul>
                    <li>Print and fill out form and email to <a href="mailto:vendorsenders@gmail.com">vendorsenders@gmail.com</a></li>
                    <li>Request contact by phone to provide information to live person</li>
                </ul>
                <p><a href="/files/creditcardform.pdf">Download the credit card form</a></p>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.Forgot.min.js"></script>
</html>
