<%- include partials/header.ejs %>
    <body class="admin user-mgmt">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <h1><span class="fa fa-user"></span> Manage Account</h1>

                <!-- SIGNUP FORM -->
                <div class="user-table" id="admin-user-table">
                    <ul class="user-list single">
                        <li class="light individual-user"></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/underscore/underscore-min.js"</script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"</script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- SERVER SCRIPTS -->
    <script type="text/javascript">
        var serverData = {uid: "<%- uid %>"};
    </script>
    <!-- MODELS -->
    <script type="text/javascript" src="/js/model/frModel.Reference.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.Calendar.min.js"></script>
    <script type="text/javascript" src="/js/model/frModel.API.User.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.GlobalAccount.min.js"></script>
</html>
