<!-- views/login.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span> Forgot Password</h1>
                <form id="forgot_pw_form">
                    <div class="form-group">
                        <label>Email</label>
                        <input id="email" type="text" class="form-control" name="email">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                </form>
                <hr>
                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </body>
    <!-- VENDOR -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/js/controller/frController.NavSidebar.min.js"></script>
    <script type="text/javascript" src="/js/controller/frController.Forgot.min.js"></script>
</html>
