<!-- views/test.ejs -->
<%- include partials/header.ejs %>
    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span>VendorSenders</h1>

                <p>Login or Register:</p>
                <a href="/signup" class="btn btn-primary"><span class="fa fa-pencil"></span> Sign Up</a>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            </div>
        </div>
    </body>
        <!-- VENDOR -->
        <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/vendor/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/vendor/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
        <!-- CONTROLLERS -->
        <script type="text/javascript" src="/js/controller/frController.Home.min.js"></script>
</html>