                    <div class="sidebar">
                        <h4 class="owner-name"><%- user.bus.name.length > 20 ? user.bus.name.substring(0, 20) + "..." : user.bus.name %></h4>
                        <div class="sidebar-header">
                            <h2 class='sidebar-title'><%- sidebarTitle %></h2>
                        </div>
                        <ul id="iconWrap" class="icon-list 4-icons">
                            <li class="icon-wrap search-method-select" filter-method="name" id="searchByName">
                                <span class="fa fa-search"></span>
                                <label class="icon-label">Name</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="zip" id="searchByLocation">
                                <span class="fa fa-map-marker"></span>
                                <label class="icon-label">Location</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="size" id="searchBySize">
                                <span class="fa fa-users"></span>
                                <label class="icon-label">Size</label>
                            </li>
                            <li class="icon-wrap search-method-select" filter-method="fee" id="searchByFee">
                                <span class="fa fa-list"></span>
                                <label class="icon-label">Show All</label>
                            </li>
                        </ul>
                    </div>