<h4>Terms of Service</h4>

<p>Youu will be contacted by email after we receive all your completed information. We will send you a link to your online calendar so you can begin booking vendor sale dates.</p>

<p>There is a one time charge of $75 to activate your calendar. The annual membership fee to remain active with Vendor Sender is $25 and is automatically billed to your credit card on file on the 1st of the year. We will contact you to confirm that you would like to continue your membership before and charge your card.</p>

<form id="signupForm3" class="signupForm">

    <div class="form-group">
        <div class="tos-text">
            <%- include tos.ejs %>
        </div>
    </div>

    <div class="form-group">
        <label for="accept" class="control-label">Do you accept the Terms of Service?</label>

        <label class="checkbox">
            <input type="checkbox" name="accept[]" autocomplete="off">
            I accept
        </label>
    </div>

    <button disabled id="signupButton" type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>

</form>