<div id="signupComplete" class="text-area">
    <h4>Your Application is complete!</h4>

    <p>While you wait for us to approve your application, please download and print the following forms.  We will contact you via your preferred method shortly:<br/>
        <a href="#">Dummy Form</a></p>

    <a href="/" class="bttn bttn-primary">Back Home</a>
</div>