<form enctype="multipart/form-data"
    action="/signup-basic"
    method="post"
    id="signupForm1"
    class="signupForm">

    <div class="form-group">
        <input required placeholder="First Name" type="text" class="form-control" id="firstName" name="firstName" autocomplete="off">
    </div>

    <div class="form-group">
        <input required placeholder="Last Name" type="text" class="form-control" id="lastName" name="lastName" autocomplete="off">
    </div>

    <div class="form-group">
        <input required placeholder="Email Address" type="email" class="form-control" id="email" name="email" autocomplete="off">
    </div>

    <div class="form-group">
        <input required placeholder="Primary Phone" type="tel" class="form-control" id="phone" name="phone" autocomplete="off">
    </div>

    <div class="form-group">
        <select required class="form-control" id="contactMethod" name="contactMethod">
            <option value="" selected="selected">Preferred Method of Contact</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
        </select>
    </div>

    <div class="form-group">
        <select required class="form-control" id="paymentMethod" name="paymentMethod">
            <option value="" selected="selected">How will you provide your payment details?</option>
            <option value="1">By Phone (We will call you)</option>
            <option value="2">By Email (vendorsenders@gmail.com)</option>
        </select>
    </div>

    <div class="form-group">
        <input required placeholder="Password" type="password" class="form-control" id="password" name="password" autocomplete="off">
    </div>

    <div class="form-group">
        <input required placeholder="Confirm Password" type="password" class="form-control" id="cpassword" name="cpassword" autocomplete="off">
    </div>

    <input type="hidden" class="form-control" id="accountType" name="accountType" value="1" autocomplete="off">
    <button id="signupButton" disabled type="submit" name="submit" class="btn btn-primary btn-lg">Register</button>
</form>