<p>The Guidelines and Agreement terms apply to all personnel who assist and/or work for you. Failure to comply with any of the guidelines and policies below will result in immediate cancellation of any future business at accounts managed by Vendor Senders.
Vendor Senders Policies</p>
<ol>
<li>
You are expected to act in a professional and courteous manner at all times while at a client location. Unprofessional conduct will result in a termination of your Vendor contract without refund.
</li><li>
All goods must be first quality; no copies or knock-offs are permitted.
</li><li>
Each vendor will use only the tables set up for you in the company vendor area. You are not allowed to set up additional tables. Tables are not to be rearranged. Please do not block doors or exits.
</li><li>
You should bring your own table coverings at all times. They should be clean and to the floor in front. Please keep the area clean and professional looking.
</li><li>
No handwritten signs are permitted. Under no circumstances should anything be attached/taped/tacked to any wall or object except the vendor tables.
</li><li>
All merchandise must be clearly marked with prices.
</li><li>
Dress is business casual. No jeans, t-shirts, flannels, shorts,
sweats, stretch pants, sneakers or other weekend wear.
</li><li>
Set up must be neat, remain behind the tables unless vendor tables are against the wall. All merchandise must be tastefully displayed, no boxes, cartons, or hand trucks in view. Store them under the tables or take them back to your vehicle. No maintenance man, building employee, or anyone else has the authority to give you permission to set up extra tables, set up outside the vendor area, put product on ledges, window sills, set up racks or do anything other than what is allowed by Vendor Senders.
</li><li>
Remove all trash, empty boxes, etc. when you leave the building. Leave the vendor area as clean as possible.
</li><li>
In regard to weather conditions, if the building is open you are expected to be at the building. If you choose not go you will be charged for the day.
</li><li>
You must follow the check in/setup procedure and times specific for each location. If you cannot arrive or stay for the sales time, do not book the building.
</li><li>
Checks - Take checks at your own risk. Vendor Senders or the company where that person is employed has any responsibility in helping you collect on a bad check. **Management personnel of the company are not to be contacted.**
</li><li>
If you cancel your date with less than 2 weeks notice you will be charged for the day, unless we can rebook it.
</li><li>
Statements will be emailed on or before 1st and 15th of each month for all dates scheduled for that month. Billing will be via credit card on the 1st and 15th of the month for the balance due on the statement. If your credit card is declined when billing takes place on the 1st or 15th , a $25 service fee will be added to your account prior to resubmitting your card for payment.
</li><li>
You are not allowed to schedule a building that restricts the merchandise that you sell. Failure to comply with any of the above guidelines and policies can result in immediate cancellation of any future business at accounts managed by Vendor Senders.
</li><li>
The Guidelines and Agreement terms apply to all personnel who assist and/or work for you.
</li></ol>
<p>
Vendor Senders VENDOR AGREEMENT
</p><p>
This Agreement is made by the user and between Vendor Senders, maintaining its registered office at 2499 Trewigtown Road, Colmar PA 18915 AND the individual or entity hereinafter identified as (“Vendor”).
</p><p>
WITNESSETH THAT WHEREAS Vender Sender is in the business of providing space on tables in various establishments, (hereinafter referred to as “The Premises”), at which goods and products may be displayed for sale; and WHEREAS Vendor is regularly engaged in the business of the sale of goods and products suitable for display on The Premises; and WHEREAS Vendor Senders and Vendor wish to reduce to writing the terms of their understanding pursuant to which Vendor will be permitted to display its goods and/or products at The Premises.
NOW, therefore, in consideration of the payment of the charges and fees provided for herein, and the covenants and conditions hereinafter set forth, Vendor Senders and Vendor do hereby covenant and agree as follows:
</p><ol>
<li>Vendor Senders hereby grants to Vendor a privilege to occupy and use, subject to the terms and conditions herein set forth, The Premises at such times, on such dates and in such locations as shall be mutually agreed upon by the parties hereto. The Premises is specifically limited to the vendor tables provided and such tables as are provided by Vendor Senders or the management of The Premises. In no event shall Vendor expand The Premises in any manner without the express prior consent of Vendor Senders and the management of the facility upon which The Premises are situate.</li>

<li>The Premises shall be occupied and used by Vendor solely for the purpose stated above and only under the name of Vendor as herein specified.</li>

<li>Vendor agrees to comply at all times with the requirements of the management of the facility upon which The Premises are situate concerning the times of operation of The Premises, including any assembly and/or disassembly times permitted prior to the commencement of the use of The Premises. </li>

<li>Vendor agrees at all times to abide by any and all rules, regulations and requirements of management of The Premises and/or which Vendor Senders may from time to time adopt, whether in existence at the time of the execution of this agreement or subsequently adopted. Vendor acknowledges that any violation of any such rule, regulation or requirement shall, without notice of any such violation, be and constitute
an automatic termination of this agreement. </li>

<li>Vendor agrees to obtain any and all insurance Vendor feels is needed for their goods or services. Vendor agrees to hold harmless Vendor Senders and any company or management of the premises for any loss or damage of goods or property. Vendor also agrees to be responsible for any damages done to the premises while you are a vendor at any company scheduled by Vendor Senders.</li>

<li>All sums payable to Vendor Senders under this agreement shall be paid in United States of America dollars, without any deduction or set off whatsoever and shall be payable at Vendor Senders address as herein specified. Vendor shall protect, defend, indemnify, save and hold harmless Vendor Senders and any tenant or occupant of The Premises and any fee owner or ground or underlying lessors of The Premises, against and from any and all claims, demands, fines, suits, actions, proceedings, orders, decrees and judgments of any kind or nature by or in favor of, anyone whomsoever, and against and from any and all costs, damages and expenses, including attorney’s fees, resulting from, or in connection with, loss of life, bodily or personal injury or property damage arising, directly or indirectly, out of, or from, or on account of, any accident or other occurrence in, upon, at or from The Premises, or occasioned in whole or in part through the use and occupancy of The Premises, or by any act or omission of Vendor, or any of its employees, agents, contractors or invitees in, upon, at or from The Premises or its appurtenances or any part of The Premises. </li>

<li>Vendor Senders and/or tenants or occupants of The Premises and/or any fee owner or ground or underlying lessors of The Premises and their respective agents and employees shall not be responsible or liable at any time for (a) any defects, latent or otherwise, in any building or improvements in The Premises or any of the equipment, machinery, utilities, appliances or apparatus therein, or (b) for any loss of life, or injury or damage to any person or to any property or business of Vendor, or those claiming by, through or under Vendor, caused by, or resulting from, the bursting, breaking, leaking, running, seeping, overflowing or backing up of water, , steam, gas, sewage, snow or ice in any part of The Premises or caused by or resulting from acts of God or the elements, or resulting from any defect or negligence in the occupancy, construction, operation or use of any buildings or improvements of the facility in which The Premises are situate, including The Premises, or any of the equipment, fixtures, machinery, appliances or apparatus therein.</li>

<li>Vendor shall at its sole cost and expense: (a) keep The Premises open for business during the hours specified by the management of the facility upon which The Premises are situate; (b) display no merchandise outside of The Premises; (c) keep the Premises and any displays in a safe, clean and proper manner, not permit any boxes, cartons, hand trucks or similar devices to be in the public view, and not permit any rubbish or refuse emanating from The Premises to accumulate in any areas and attend to the daily removal thereof in the manner designated by Vendor Senders and/or the management of the facility upon which The Premises are situate; (d) provide any necessary, table skirting, tablecloths or similar materials, including all labor necessary to assemble and disassemble any displays; (e) not permit food or beverages to be consumed at The Premises (if applicable to the particular vendor agreement); (f) display customer sales return policy; (g) not permit loitering at The Premises; (h) not permit the playing of any musical instruments or radio or television or the use of a microphone or loudspeaker in The Premises; (i) furnish Vendor Senders with emergency telephone numbers and with a forwarding address; (j) secure any and all licenses or permits required by any governmental agency or authority with respect to Vendor’s use and/or occupancy of The Premises; (k) secure and be responsible for the display at all times during Vendor’s time to use and/or occupy the same; (l) not make or permit to be made any alterations, additions or improvements in The Premises without the prior consent of Vender Sender; (m) permit or allow any person or entity to make use of The Premises at any time during Vendor’s time to use and/or occupy the same; (n) be responsible for and pay, before delinquency, all municipal, county, state or federal taxes attributable to the income or gross receipts of Vendor, by way of example and not in limitation any and all income, sales, use or similar taxes and, (o) abide by all rules and regulations established by Vendor Senders and the management of the facility upon which The Premises are situate from time to time with respect to the use and occupancy of The Premises and with respect to the common areas, facilities, improvements and sidewalks in
The Premises.</li>

<li>All signs used at The Premises shall be subject to Vendor Senders prior approval. No hands written signs of any type are permitted. </li>

<li>Vendor shall, upon conclusion of its use or occupancy of The Premises, remove all of Vendor’s goods and products repair any damage caused by such removal and return The Premises broom clean and in good order, condition and repair. Any property not removed by Vendor upon termination of its use and/or occupancy of the Premises shall be deemed to have been abandoned by Vendor and may be retained or disposed of by Vendor Senders or the management of the facility upon which The Premises are situate as it or they shall desire, without any liability of any nature whatsoever therefore to the Vender.</li>

<li>Except as hereinabove provided, Vendor Senders may terminate this agreement with or without cause, at any time upon giving notice thereof to Vendor. In the event notice of termination is given orally, confirmation thereof shall be given in writing by first class mail or by E-mail to Vendor within seventy-two (72) hours of the giving of the said oral notice. In the event of the termination hereof by Vendor Senders, Vendor agrees that Vendor Senders shall have no duty, obligation, responsibility or liability to Vendor for any or all claims for damages of any nature whatsoever, including by way of description and not in limitation, loss of income, expenses, consequential damages, attorneys’ fees or the like, arising from any such termination of this Agreement.</li>

<li>Vendor acknowledges, understands and agrees that Vendor Senders has no liability of any nature whatsoever to Vendor in the event for any reason whatsoever (whether within the control of Vendor Senders or otherwise) any premises to which Vendor is granted the privilege of use and/or occupancy pursuant hereto is not available to Vendor . Vendor further acknowledges that there have been no representations, assurances, promises, guarantees or the like made by Vendor Senders to Vendor concerning the ability of Vendor to sell any of Vendor’s goods or products from any premises, or earn any profits therefrom. Vendor agrees Vendor Senders shall have no duty, obligation, responsibility or liability for any loss incurred by Vendor for any reason, or for no reason, directly or indirectly related to this Agreement or its doing business with Vendor Senders.</li>

<li>Nothing contained herein shall be deemed or construed by the parties hereto, nor by any third party, as creating the relationship of principal and agent, or of partnership or of joint venture, or of landlord and tenant, between the parties hereto, it being understood that nothing contained herein, or any acts of the parties hereto, shall be deemed to create any relationship between the parties other than the relationship of Vendor Senders and Vendor.</li>

<li>Notwithstanding anything to the contrary provided in this Agreement, it is specifically understood and agreed by Vendor that there shall be absolutely no personal liability on any shareholders, officers, directors or employees of Vendor Senders with respect to any of the terms, covenants, conditions and provisions of this Agreement, and Vendor shall look solely to the interest of Vendor Senders in The Premises for the satisfaction of each and every remedy of Vendor in the event of a default of Vendor Senders hereunder. </li>

<li>If any provision of the Agreement is determined to be invalid, only that provision shall be deemed invalid and the remaining terms and provisions of the Agreement shall be in full force and effect and unaffected by any such invalidity. </li>

<li>This Agreement shall be construed by, under and in accordance with the laws of the Commonwealth of Pennsylvania. Jurisdiction of any claim or action by Vendor hereunder is limited to and agreed to be brought solely in or before the appropriate Courts of the Commonwealth of Pennsylvania situate in Montgomery County, Pennsylvania, which is hereby declared by Vendor to be the exclusive venue for any such action. In the event any action, suit or similar proceeding, whether judicial or alternative dispute resolution in nature brought other than as aforesaid shall, upon motion of Vendor Sender be dismissed as being without jurisdiction and improperly venued. Vendor agrees to pay to Vendor Senders any and all costs or expenses incurred by Vendor Senders, including reasonable attorneys’ fees, and the costs and expenses incurred in connection with any such improperly vended proceeding shall be immediately upon dismissal thereof paid by Vendor to Vendor Senders.</li>

<p>This Agreement constitutes the sole and exclusive agreement between the parties hereto, except as this Agreement may be modified or amended pursuant to the rules and regulations adopted or to be adopted in the future from time to time by Vendor Senders. Any prior agreements between the parties hereto are hereby declared to be a nullity, void and of no further force or effect, except as to any sums of money owed by Vendor to Vendor Senders pursuant thereto, for which any such prior agreements shall be in continued force and effect but solely and exclusively limited to the obligation of Vendor to make payment thereunder to Vendor Senders. Except as aforesaid, any changes, amendments or modifications to this Agreement must be in writing and signed by the parties hereto in the same manner as has this Agreement, any purported oral modification or amendment hereto being expressly declared to be a nullity, void and of no force or effect whatsoever.</p>
