<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="612px" height="239px" viewBox="0 0 612 239" enable-background="new 0 0 612 239" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="-109.45" y="-30.042" width="676.389" height="267.269"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M175.811,17.15v-3.297h-25.275v3.297c1.498,0.53,3.035,1.042,4.605,1.534
		c1.573,0.493,3.258,0.928,5.055,1.307l-16.625,51.716l-2.247,9.319H141.1l-2.359-9.091l-19.21-51.944
		c1.723-0.378,3.371-0.813,4.944-1.307c1.573-0.492,2.994-1.003,4.268-1.534v-3.297H98.976v3.297
		c1.347,0.53,2.733,1.042,4.156,1.534c1.421,0.493,2.882,0.928,4.38,1.307l28.645,74.789l6.178-1.364l25.387-73.425
		C170.941,19.309,173.638,18.362,175.811,17.15"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M212.991,89.097c1.272-1.137,2.208-2.348,2.808-3.637l-1.573-1.819
		c-1.348,1.213-3.37,2.198-6.065,2.956s-5.354,1.135-7.975,1.135c-3.222,0-6.03-0.585-8.425-1.761
		c-2.398-1.174-4.381-2.786-5.954-4.831c-1.573-2.045-2.752-4.451-3.539-7.218c-0.787-2.765-1.179-5.739-1.179-8.922h35.047
		c0.298-1.514,0.506-2.936,0.617-4.262c0.113-1.325,0.169-2.632,0.169-3.921c0-4.092-0.619-7.52-1.854-10.287
		c-1.236-2.765-2.848-4.982-4.83-6.649c-1.985-1.666-4.251-2.859-6.797-3.581c-2.545-0.719-5.129-1.08-7.75-1.08
		c-8.089,0-14.343,2.541-18.759,7.616c-4.421,5.078-6.629,12.464-6.629,22.163c0,4.547,0.579,8.638,1.742,12.276
		c1.16,3.636,2.864,6.763,5.111,9.376c2.246,2.614,5.055,4.624,8.425,6.025c3.369,1.402,7.262,2.102,11.681,2.102
		c2.023,0,4.006-0.247,5.954-0.738c1.946-0.494,3.745-1.154,5.393-1.989C210.257,91.22,211.717,90.233,212.991,89.097
		 M185.47,44.599c2.247-2.916,5.504-4.375,9.771-4.375c3.82,0,6.628,1.44,8.425,4.319c1.799,2.879,2.697,6.745,2.697,11.593
		c0,0.607-0.02,1.232-0.056,1.875c-0.04,0.646-0.095,1.308-0.17,1.99h-24.712C181.875,52.65,183.224,47.517,185.47,44.599"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M267.022,47.27c1.646,3.334,2.472,7.881,2.472,13.639v26.938
		c-2.398,0.758-4.605,1.667-6.629,2.727v2.842h24.153v-2.842c-1.948-1.288-4.42-2.196-7.413-2.727V59.09
		c0-4.697-0.413-8.582-1.236-11.65c-0.826-3.069-2.021-5.512-3.596-7.332c-1.572-1.818-3.537-3.085-5.898-3.807
		c-2.357-0.719-5.036-1.079-8.031-1.079c-4.194,0-7.771,1.25-10.728,3.75c-2.958,2.5-5.221,5.494-6.794,8.978h-0.114V35.222H240.4
		c-2.772,0.53-5.431,1.136-7.976,1.818c-2.546,0.682-4.793,1.44-6.741,2.274v2.956l7.415,0.908v44.669
		c-3.071,0.835-5.543,1.745-7.415,2.727v2.842h24.265v-2.842c-2.174-1.364-4.419-2.273-6.741-2.727V54.659
		c0.524-1.593,1.236-3.127,2.136-4.605c0.899-1.478,1.965-2.802,3.199-3.979c1.237-1.172,2.659-2.101,4.272-2.784
		c1.607-0.682,3.348-1.022,5.22-1.022C262.377,42.27,265.376,43.937,267.022,47.27"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M330.824,82.163h0.452l1.011,12.39h2.807c2.246-0.304,4.532-0.835,6.854-1.591
		c2.32-0.757,4.567-1.667,6.738-2.729v-2.386l-7.412-0.911V7.942h-2.808c-2.624,0.456-5.377,1.023-8.257,1.706
		c-2.884,0.682-5.412,1.477-7.584,2.386v2.955l8.539,0.91v21.481c-1.873-0.682-3.597-1.155-5.168-1.42
		c-1.572-0.265-3.746-0.398-6.517-0.398c-7.938,0-14.249,2.539-18.927,7.614c-4.682,5.077-7.021,12.465-7.021,22.164
		c0,10.08,1.833,17.504,5.505,22.279c3.668,4.774,9.209,7.16,16.623,7.16c1.946,0,3.765-0.341,5.447-1.023
		c1.687-0.681,3.184-1.609,4.495-2.785c1.31-1.172,2.416-2.517,3.313-4.035C329.814,85.423,330.451,83.831,330.824,82.163
		 M317.908,87.732c-2.397,0-4.439-0.585-6.122-1.761c-1.685-1.174-3.091-2.786-4.212-4.831c-1.125-2.045-1.951-4.414-2.473-7.104
		c-0.524-2.688-0.785-5.587-0.785-8.696c0-7.5,1.346-13.505,4.043-18.015c2.696-4.507,6.587-6.763,11.682-6.763
		c2.699,0,4.904,0.153,6.629,0.454c1.721,0.305,3.22,0.836,4.494,1.592v32.051c-0.826,4.018-2.322,7.199-4.494,9.548
		C324.496,86.559,321.576,87.732,317.908,87.732"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M362.392,86.653c2.173,2.616,4.903,4.623,8.2,6.024
		c3.294,1.402,7.191,2.102,11.683,2.102c8.088,0,14.527-2.575,19.32-7.729c4.794-5.151,7.19-12.501,7.19-22.051
		c0-4.469-0.508-8.524-1.519-12.161c-1.011-3.637-2.582-6.763-4.717-9.376c-2.133-2.615-4.887-4.641-8.256-6.082
		c-3.371-1.438-7.377-2.16-12.02-2.16c-3.971,0-7.581,0.666-10.84,1.991c-3.258,1.325-6.048,3.257-8.368,5.795
		c-2.322,2.54-4.104,5.646-5.336,9.321c-1.236,3.676-1.854,7.899-1.854,12.672c0,4.471,0.541,8.544,1.627,12.218
		C358.59,80.896,360.219,84.039,362.392,86.653 M370.703,46.247c2.697-4.016,6.253-6.023,10.672-6.023
		c2.922,0,5.429,0.644,7.527,1.932c2.096,1.289,3.817,3.053,5.167,5.285c1.348,2.236,2.34,4.851,2.976,7.843
		C397.68,58.278,398,61.516,398,65c0,8.488-1.292,14.739-3.874,18.755c-2.585,4.018-5.898,6.024-9.942,6.024
		c-3.145,0-5.844-0.644-8.088-1.932c-2.247-1.289-4.063-3.049-5.448-5.286c-1.386-2.235-2.397-4.868-3.034-7.9
		c-0.637-3.029-0.953-6.25-0.953-9.661C366.66,56.517,368.007,50.264,370.703,46.247"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M434.394,87.847V54.089c0.973-2.727,2.08-4.792,3.315-6.195
		c1.235-1.401,2.264-2.33,3.089-2.784h14.94v-2.957c-0.375-1.288-0.771-2.517-1.181-3.693c-0.413-1.174-0.88-2.255-1.402-3.239
		c-2.023-0.229-3.988-0.019-5.899,0.625c-1.91,0.645-3.67,1.573-5.279,2.784c-1.611,1.212-3.032,2.578-4.268,4.093
		c-1.235,1.516-2.191,3.03-2.866,4.546h-0.449V35.222h-2.807c-2.324,0.379-4.758,0.891-7.302,1.534
		c-2.548,0.645-5.02,1.497-7.414,2.558v2.956l7.414,0.908v44.669c-1.199,0.304-2.397,0.643-3.595,1.023
		c-1.199,0.379-2.473,0.948-3.819,1.704v2.842h26.511v-2.842c-1.502-0.833-2.997-1.458-4.493-1.875
		C437.389,88.284,435.893,87.999,434.394,87.847"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M183.895,150.02c-2.786-2.047-5.782-3.846-8.984-5.398
		c-3.2-1.553-6.198-3.164-8.984-4.832c-2.788-1.664-5.104-3.561-6.951-5.684c-1.847-2.117-2.768-4.732-2.768-7.842
		c0-3.863,1.17-6.875,3.514-9.035c2.343-2.161,5.443-3.24,9.297-3.24c2.34,0,4.553,0.154,6.63,0.455
		c2.08,0.305,3.797,0.758,5.158,1.363l4.495,15.572h2.919c0.301-1.287,0.599-2.785,0.899-4.49c0.298-1.703,0.581-3.467,0.843-5.285
		c0.261-1.818,0.487-3.58,0.674-5.285c0.186-1.705,0.281-3.199,0.281-4.49c-2.173-1.061-5.151-1.95-8.931-2.669
		c-3.782-0.721-7.958-1.081-12.525-1.081c-3.522,0-6.703,0.474-9.549,1.42c-2.846,0.948-5.299,2.293-7.358,4.034
		c-2.06,1.746-3.65,3.865-4.773,6.365c-1.124,2.502-1.686,5.342-1.686,8.525c0,4.396,0.917,8.053,2.753,10.969
		c1.833,2.916,4.117,5.418,6.851,7.5c2.733,2.086,5.709,3.887,8.931,5.4c3.219,1.516,6.195,3.068,8.931,4.658
		c2.732,1.594,5.016,3.41,6.851,5.457c1.835,2.047,2.752,4.586,2.752,7.615c0,2.271-0.449,4.301-1.348,6.08
		c-0.898,1.783-2.116,3.299-3.65,4.547c-1.537,1.25-3.352,2.199-5.448,2.84c-2.1,0.646-4.345,0.969-6.74,0.969
		c-2.847,0-4.981-0.322-6.405-0.969c-1.422-0.641-2.583-1.418-3.481-2.328l-4.606-16.707h-2.92c-0.301,1.287-0.6,2.842-0.899,4.658
		c-0.3,1.82-0.581,3.695-0.842,5.627c-0.264,1.934-0.488,3.807-0.674,5.627c-0.188,1.818-0.319,3.371-0.394,4.658
		c1.573,1.293,4.229,2.502,7.977,3.639c3.743,1.137,7.975,1.705,12.694,1.705c4.267,0,8.086-0.533,11.457-1.592
		c3.37-1.061,6.215-2.574,8.538-4.547c2.32-1.969,4.1-4.355,5.335-7.16c1.235-2.803,1.854-5.91,1.854-9.322
		c0-4.164-0.924-7.65-2.771-10.455C189,154.492,186.682,152.064,183.895,150.02"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M243.997,135.471c-1.986-1.666-4.252-2.859-6.796-3.58
		c-2.548-0.719-5.131-1.08-7.751-1.08c-8.088,0-14.342,2.539-18.759,7.615c-4.421,5.078-6.629,12.465-6.629,22.162
		c0,4.549,0.58,8.639,1.743,12.277c1.16,3.637,2.863,6.764,5.11,9.375c2.247,2.615,5.055,4.623,8.425,6.025
		c3.369,1.404,7.263,2.104,11.681,2.104c2.022,0,4.007-0.248,5.955-0.738c1.946-0.496,3.744-1.154,5.392-1.99
		c1.646-0.832,3.105-1.818,4.381-2.953c1.271-1.139,2.208-2.35,2.807-3.637l-1.57-1.82c-1.349,1.215-3.37,2.197-6.068,2.955
		c-2.695,0.758-5.354,1.137-7.975,1.137c-3.222,0-6.03-0.586-8.425-1.762c-2.398-1.176-4.38-2.785-5.954-4.83
		c-1.572-2.047-2.752-4.451-3.539-7.219c-0.788-2.766-1.18-5.738-1.18-8.924h35.049c0.297-1.512,0.504-2.934,0.617-4.26
		c0.112-1.324,0.169-2.633,0.169-3.922c0-4.092-0.618-7.521-1.854-10.285C247.591,139.355,245.979,137.139,243.997,135.471
		 M240.065,153.6c-0.039,0.645-0.096,1.307-0.17,1.988h-24.712c0.449-7.35,1.798-12.482,4.044-15.4
		c2.247-2.916,5.504-4.373,9.774-4.373c3.818,0,6.625,1.438,8.423,4.316c1.798,2.881,2.698,6.744,2.698,11.594
		C240.122,152.332,240.102,152.957,240.065,153.6"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M313.359,154.68c0-4.697-0.412-8.582-1.234-11.65
		c-0.824-3.068-2.021-5.512-3.596-7.332c-1.572-1.818-3.539-3.086-5.898-3.807c-2.357-0.719-5.037-1.08-8.032-1.08
		c-4.192,0-7.768,1.25-10.726,3.75c-2.962,2.5-5.224,5.496-6.797,8.98h-0.112v-12.73h-2.808c-2.771,0.531-5.431,1.137-7.975,1.818
		c-2.549,0.682-4.795,1.441-6.74,2.271v2.957l7.414,0.908v44.67c-3.072,0.834-5.545,1.742-7.414,2.727v2.844h24.264v-2.844
		c-2.174-1.363-4.42-2.271-6.741-2.727v-33.189c0.522-1.592,1.237-3.125,2.134-4.602c0.9-1.479,1.967-2.805,3.203-3.98
		c1.233-1.174,2.655-2.102,4.268-2.783c1.607-0.684,3.35-1.023,5.223-1.023c4.345,0,7.34,1.668,8.988,5.004
		c1.647,3.332,2.471,7.877,2.471,13.639v26.936c-2.398,0.758-4.605,1.668-6.627,2.727v2.844h24.15v-2.844
		c-1.947-1.285-4.418-2.197-7.414-2.727V154.68z"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M375.032,103.532h-2.809c-2.622,0.454-5.374,1.021-8.258,1.706
		c-2.883,0.681-5.41,1.476-7.581,2.387v2.954l8.536,0.91v21.482c-1.871-0.684-3.595-1.154-5.167-1.422
		c-1.572-0.262-3.746-0.396-6.516-0.396c-7.938,0-14.248,2.537-18.928,7.613c-4.681,5.078-7.02,12.467-7.02,22.164
		c0,10.08,1.834,17.504,5.504,22.279c3.668,4.771,9.21,7.16,16.624,7.16c1.946,0,3.763-0.342,5.448-1.025
		c1.684-0.68,3.184-1.609,4.494-2.783c1.309-1.174,2.416-2.518,3.313-4.035c0.898-1.514,1.537-3.105,1.91-4.773h0.449l1.011,12.389
		h2.808c2.247-0.305,4.532-0.834,6.854-1.59s4.567-1.668,6.74-2.729v-2.387l-7.413-0.91V103.532z M364.921,170.25
		c-0.823,4.018-2.321,7.199-4.493,9.549c-2.174,2.35-5.094,3.523-8.761,3.523c-2.399,0-4.438-0.586-6.124-1.762
		c-1.684-1.176-3.09-2.785-4.211-4.83c-1.125-2.047-1.949-4.414-2.471-7.105c-0.525-2.688-0.787-5.588-0.787-8.695
		c0-7.5,1.346-13.506,4.045-18.014c2.694-4.51,6.588-6.764,11.68-6.764c2.697,0,4.904,0.152,6.629,0.455
		c1.723,0.303,3.219,0.834,4.493,1.59V170.25z"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M429.566,135.471c-1.984-1.666-4.249-2.859-6.797-3.58
		c-2.546-0.719-5.13-1.08-7.748-1.08c-8.09,0-14.346,2.539-18.762,7.615c-4.419,5.078-6.628,12.465-6.628,22.162
		c0,4.549,0.578,8.639,1.741,12.277c1.162,3.637,2.864,6.764,5.11,9.375c2.247,2.615,5.056,4.623,8.425,6.025
		c3.373,1.404,7.265,2.104,11.684,2.104c2.021,0,4.005-0.248,5.954-0.738c1.945-0.496,3.744-1.154,5.391-1.99
		c1.648-0.832,3.107-1.818,4.384-2.953c1.271-1.139,2.207-2.35,2.807-3.637l-1.573-1.82c-1.348,1.215-3.371,2.197-6.064,2.955
		c-2.697,0.758-5.356,1.137-7.976,1.137c-3.223,0-6.03-0.586-8.425-1.762c-2.397-1.176-4.383-2.785-5.955-4.83
		c-1.574-2.047-2.752-4.451-3.539-7.219c-0.787-2.766-1.179-5.738-1.179-8.924h35.048c0.297-1.512,0.505-2.934,0.615-4.26
		c0.113-1.324,0.17-2.633,0.17-3.922c0-4.092-0.616-7.521-1.851-10.285C433.162,139.355,431.55,137.139,429.566,135.471
		 M425.633,153.6c-0.038,0.645-0.094,1.307-0.166,1.988h-24.716c0.451-7.35,1.799-12.482,4.045-15.4
		c2.247-2.916,5.503-4.373,9.773-4.373c3.821,0,6.628,1.438,8.426,4.316c1.797,2.881,2.695,6.744,2.695,11.594
		C425.69,152.332,425.672,152.957,425.633,153.6"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M481.296,130.811c-2.023-0.227-3.99-0.02-5.898,0.625
		c-1.909,0.645-3.671,1.574-5.281,2.785c-1.609,1.213-3.032,2.576-4.268,4.094c-1.236,1.514-2.19,3.029-2.864,4.543h-0.45v-12.047
		h-2.807c-2.322,0.381-4.758,0.893-7.301,1.535c-2.548,0.643-5.02,1.496-7.416,2.555v2.957l7.416,0.908v44.668
		c-1.2,0.307-2.4,0.646-3.595,1.025c-1.201,0.379-2.473,0.947-3.821,1.705v2.842h26.513v-2.842
		c-1.502-0.834-2.998-1.459-4.495-1.877c-1.499-0.416-2.996-0.699-4.494-0.854v-33.756c0.972-2.729,2.078-4.793,3.314-6.193
		c1.235-1.402,2.265-2.332,3.089-2.785h14.942v-2.955c-0.377-1.287-0.772-2.52-1.182-3.695
		C482.285,132.877,481.819,131.797,481.296,130.811"/>
	<path clip-path="url(#SVGID_2_)" fill="#E35F56" d="M525.946,166.441c-1.311-2.006-2.978-3.768-4.998-5.283
		c-2.021-1.516-4.175-2.879-6.46-4.092c-2.287-1.211-4.438-2.445-6.46-3.695c-2.021-1.248-3.69-2.613-4.999-4.09
		c-1.31-1.479-1.964-3.242-1.964-5.287c0-0.982,0.185-1.969,0.563-2.955c0.37-0.982,0.915-1.854,1.627-2.613
		c0.713-0.756,1.573-1.381,2.584-1.875c1.01-0.492,2.189-0.736,3.538-0.736c1.198,0,2.358,0.055,3.482,0.168
		c1.122,0.115,2.133,0.359,3.032,0.74l4.271,11.592h2.807c0.749-2.574,1.329-5.094,1.741-7.559c0.412-2.461,0.768-4.906,1.065-7.332
		c-2.396-0.832-4.885-1.477-7.469-1.934c-2.585-0.453-5.896-0.68-9.939-0.68c-2.399,0-4.646,0.361-6.739,1.08
		c-2.101,0.721-3.934,1.705-5.508,2.955c-1.571,1.252-2.826,2.746-3.763,4.488c-0.938,1.746-1.403,3.639-1.403,5.684
		c0,3.109,0.655,5.721,1.966,7.844c1.311,2.121,2.977,3.996,4.998,5.625c2.022,1.631,4.175,3.051,6.461,4.262
		c2.282,1.215,4.436,2.465,6.459,3.752c2.021,1.289,3.688,2.672,4.999,4.148c1.311,1.479,1.964,3.279,1.964,5.398
		c0,2.578-1.009,4.773-3.034,6.592c-2.021,1.82-4.679,2.73-7.975,2.73c-0.974,0-2.041-0.039-3.199-0.115
		c-1.164-0.076-2.153-0.416-2.977-1.023l-4.943-12.389h-2.81c-0.824,2.35-1.498,4.793-2.021,7.33
		c-0.524,2.541-0.862,5.172-1.011,7.902c2.92,1.061,5.729,1.873,8.424,2.441c2.696,0.57,5.655,0.854,8.877,0.854
		c2.844,0,5.521-0.4,8.03-1.195c2.508-0.795,4.717-1.91,6.627-3.352c1.91-1.439,3.406-3.184,4.493-5.229
		c1.085-2.047,1.629-4.357,1.629-6.934C527.911,170.857,527.254,168.453,525.946,166.441"/>
</g>
</svg>
